# Variables de entorno
config/.env
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static

# Cache
.pytest_cache/
.cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Virtualenv
venv/
ENV/
env/
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Testing
.tox/
.pytest_cache/

# Logs
logs/
*.log