# Framework principal
Django==4.2.10

# Base de datos (PostgreSQL + URL parser)
psycopg==3.1.18
dj-database-url==2.2.0

# Django REST Framework
djangorestframework==3.14.0
django-filter==23.5

# JWT
djangorestframework-simplejwt==5.3.1

# CORS
django-cors-headers==4.3.1

# Swagger / Documentación
drf-yasg==1.21.7

# Archivos estáticos en producción
whitenoise==6.6.0

# Debug Toolbar
django-debug-toolbar==4.3.0

# Utils
python-dotenv==1.0.1
PyYAML==6.0.1

# Producción
gunicorn==21.2.0
